<div class="container">
  <div class="row">
  <div class="col-sm-3 col-md-6 center-block text-center" style="float:none">
  <%= link_to root_path do %>
    <h1>
    <span class="glyphicon glyphicon-home"></span>
  </h1>
<% end %>
</div>
</div>
</div>
